
.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  max-height: 32px;
  /*max-height: 32rem;*/
}

.header .title-group {
  padding-left: 35px;
}

.header .title-group i {
  padding-right: 5px;
}


